@font-face {
  font-family: 'Mongolian';
  src: url('mnglwritingotf.ttf')  format('truetype');
}

html, body, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 20pt;
  font-family: 'Mongolian';
}

.leaflet-popup-content {
  width: 50px;
  height: 170px;
}

.rotate {
  padding-left: 15px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
